
@mixin full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin fade {
  transition: opacity .5s, visibility .5s;
}

$navHeight: 16vh;

html, body {
  @include full;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2vh;
  letter-spacing: -.05vh;
  overflow: hidden;
  
}

.app {
  position: absolute;;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.start-button, .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include fade;
}

.start-button {
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(1rem);
  padding: 1rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.calibrating {
  @include full;
  @include center;
  flex-direction: row;
  
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(1rem) brightness(150%);
  transition: opacity 1s, background 1s, -webkit-filter 1s;
  
  &.hidden {
    opacity: 0;
    visibility: visible;
  }
}

.canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top left;
  transition: opacity .5s, filter .5s;

  &.recording {
    outline: 3px solid red;
  }

  &.fade {
    opacity: 0.5;
    filter: blur(1vh);
  }
}

.person-outline {
  @include full;
  background: url('assets/images/person-outline.svg');
  background-repeat: no-repeat;
  background-size: 175vh;
  background-position: 50% 25%;

  transition: opacity .5s, visibility .5s;
}


.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.phone-input {
  position: absolute;
  left: 660px;
  top: 500px;
}

.phone-button {
  position: absolute;
  left: 660px;
  top: 540px;
}

input, button {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  outline: 0;
  border: 0;
  background: none;
}

@keyframes ellipsis {
  0%   { content: '' }
  33%  { content: '.' }
  66%  { content: '..' }
  100% { content: '...' }
}

.ellipsis:after {
  display: inline;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4) 1s infinite;
  width: 0;
  content: '';
}

@import './css/_share.scss';
@import './css/_record.scss';
@import './css/_overlays.scss';
