.overlays {
  @include full;
  
  &-types {
    position: absolute;
    bottom: 0;
    height: 13vh;
    left: 50%;
    margin-bottom: 3vh;
  
    transform: translateX(-50%);
    background: rgba(255, 255, 255, .8);
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    transition: bottom .5s;
    
    &.hidden {
      opacity: 1;
      visibility: visible;
      bottom: -16vh;
    }
    
    &:before {
      position: absolute;
      top: .5rem;
      width: 100%;
      content: 'Choose a lesion type';
      display: block;
      color: purple;
      font-weight: 700;
      text-align: center;
    }
    
    &-type {
      cursor: pointer;
      user-select: none;
      position: relative;
      width: 7rem;
      height: 4rem;
      margin: 1rem .5rem .5rem;
      transition: background .5s;
      border-top-right-radius: .5rem;
      border-bottom-left-radius: .5rem;
      
      &.active {
        background: rgba(80, 150, 200, .33);
      }

      img, p {
        pointer-events: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
      }
      
      img {
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -75%);
      }
      
      p {
        text-transform: capitalize;
        margin: 0;
      }
    }
  }
  
  &-weeks {
    position: absolute;
    right: 0;
    top: 50%;
    width: 6rem;
    background: rgba(10, 100, 175, .75);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: right .5s;
    
    &.hidden {
      opacity: 1;
      visibility: visible;
      right: -7rem;
    }
    
    &-week {
      cursor: pointer;
      user-select: none;
      position: relative;
      width: 4rem;
      height: 4rem;
      margin: .625rem 1rem;
      font-weight: 300;
      font-size: .625rem;
      background: rgba(175, 235, 40, .75);
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      color: white;
      text-transform: uppercase;
      opacity: .5;
      transition: background .5s, opacity .5s;
      
      &.active, &.current {
        opacity: 1;
      }
      &.current {
        font-weight: 400;
        background: rgba(215, 20, 150, 1);
      }
      
      p {
        margin: 0;
        pointer-events: none;
        
        &:nth-child(2) {
          font-size: 1.5rem;
          line-height: 1.5rem;
        }
      }
      
      &:after {
        content: '▼';
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        
        display: block;
      }
      
      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
}
