.record {
  @include full;
  @include center;
  @include fade;
  pointer-events: none;

  @keyframes pulse {
    0%   { border-color: rgba(255, 0, 0, 0.5); }
    50%  { border-color: rgba(255, 0, 0, 1); }
    100% { border-color: rgba(255, 0, 0, 0.5); }
  }

  &-outline {
    @include full;
    border-color: rgba(255, 0, 0, .5);
    border-width: 1vh;
    border-style: solid;
    animation: pulse 1s infinite;
    transition: border-width .5s;

    &.hidden {
      opacity: 1;
      visibility: visible;
      // border: 0 solid rgba(255, 0, 0, 0);
      border-width: 0;
      border-style: solid;
      border-color: rgba(255, 0, 0, 0);
    }
  }

  &-button {
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    pointer-events: all;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    left: 50%;
    bottom: calc(#{$navHeight} + 2rem);
    transform: translateX(-50%);
    cursor: pointer;
    transition: background .25s, opacity .5s, visibility .5s;
    
    &-ring {
      width: 140%;
      height: 140%;
      position: absolute;
      left: -20%;
      top: -20%;
      transform: rotate(-90deg);
      pointer-events: none;
      transition: all .5s;
      
      svg {
        width: 100%;
        height: 100%;
      }
    }
    
    &:hover, &:active {
      background: rgba(255, 255, 255, .5);
    }
  }
}
