.share {
  @include full;
  @include center;
  
  $width: 40vh;
  min-width: 44vh;
  
  &-title, &-phone, &-playback, &-keypad, &-send {
    position: absolute;
    left: 50%;
    width: $width;
    height: 40vh;
    transform: translateX(-50%);
  }
  
  &-title {
    height: 2vh;
    top: 4vh;
    font-size: 1rem;
  }
  
  &-phone {
    top: 9vh;
    width: calc(#{$width} - 4vh);
    height: 5vh;
    background-color: rgba(255, 255, 255, .8);
    font-size: 2rem;
    letter-spacing: .25rem;
    padding: .5rem 1rem;
    border: 0 solid red;
    transition: padding .25s, border .25s;
  
    &.error {
      border: .3vh solid red;
      padding: .7vh 1.7vh;
    }
  }
  
  &-send {
    position: absolute;
    top: 9vh;
    margin: 1vh;
    margin-left: 16vh;
    width: 6vh;
    height: 5vh;
    background-image: url('assets/images/send-icon.svg');
    background-color: green;
    background-repeat: no-repeat;
    background-position: center;
    
    &.sending {
      background-image: url('assets/images/loading.svg');
    }
    
    &.success {
      background-image: url('assets/images/check.svg');
    }
  }
  
  &-close {
    cursor: pointer;
    position: absolute;
    top: 2vh;
    right: 2vh;
    width: 5vh;
    height: 5vh;
    background-color: rgba(0, 0, 0, .5);
    color: white;
  }
  
  &-playback {
    top: 17vh;
    background-size: cover;
    background-position: center;
    transform: translateX(-50%);
  }
  
  &-keypad {
    top: 58vh;
    display: flex;
    flex-wrap: wrap;
    width: #{$width + .5vh};
    
    &-key {
      @include center;
      position: relative;
      background: rgba(0, 0, 0, .5);
      color: rgba(255, 255, 255, 1);
      width: calc((40vh / 3) - .125vh);
      height: calc((40vh / 4) - .25vh);
      margin: .125vh;
      font-size: 2rem;
      font-weight: 400;
      transition: background .25s, color .25s, transform .25s;
      cursor: pointer;
      user-select: none;
      
      &:hover {
        background: rgba(255, 255, 255, .5);
        color: rgba(0, 0, 0, 1);
        transform: scale(.9);
      }
      
      // &:last-child {
      //   font-size: 0;
      //   // background-color: rgba(0, 0, 0, 0);
      //   background-image: url('assets/images/send-icon.svg');
      //   background-repeat: no-repeat;
      //   background-position: center;
      // }
    }
  }
}
